@media (max-width: 1280px) { // 1024 - 1280
    .download-img{
        margin-right: 30px;
    }
}

@media (max-width: 1024px) {  // 900 - 1024 
    .download-img{
        img{
            width: 260px;
        }
    }
}


@media (max-width: 900px) { // 768 - 900 
    .download{
        padding-top: 60px;
    }
    .download-img{
        margin-top: 0;
    }
    .download-img img{
        width: 230px;
    }
    .download-info__list-item p{
        font-size: var(--big-font-size);
    }
    .download-info__text{
        font-size: var(--normal-font-size);
        margin-bottom: 20px;
    }
    .download-info__list{
        margin-bottom: 25px;
    }
}


@media (max-width: 768px) {  // 600 - 768 
    .download{
        background: var(--bg-color);
        padding: 40px 0 30px;
    }
}


@media (max-width: 600px) {  // 480 - 600
    .download__wrapper{
        flex-direction: column;
    }
    .download-img{
        display: none;
    }
    .download-info{
        text-align: center;
    }
    .download-info__title{
        line-height: 120%;
    }
}

@media (max-width: 480px ) and  (min-width: 320px ) {  // 320 - 480
    .download-info__links-googleplay{
        padding-right: 0;
    }
}
